<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head') %>
<body class="bg-gray-100">
  <%- include('partials/_header') %>
  <main role="main" class="container mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <div class="text-center">
      <h1 class="text-4xl font-semibold mb-4">unsubme</h1>
      <p class="text-lg text-gray-700">Easily manage your email subscriptions</p>
    </div>
    <div id="progressContainer" class="text-center mt-6" style="display: none;">
      <p id="progressText">Fetching emails...</p>
      <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
        <div id="progressBar" class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 0%">0%</div>
      </div>
    </div>
  </main>
  <%- include('partials/_footer') %>
  
</body>
</html>
